.observacao {
    height: 100px;
  }

  table {
    width: 100%;
  }
  
  
  .mat-row {
      height: auto;
    }
    
th, .mat-cell {
      padding: 0px 0px 0px 0;
    }

    .block {
      display: block;
      width: 100%;
      height: fit-content;
      border: none;
      background-color: #FB6A49;
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }

    .imgPrincipal {      
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;            
      //border-image: url('http://kitelx.com.br/cabrinha2020/assets/images/bg-areia.png') 50% round;
    }
    

    
  .card-style {    
    border: none !important;
    box-shadow: 0px 10px 10px ;
    border-radius: 20px !important;
    cursor: pointer;    
    width: 200px;
    height: 200px;
    margin-left: 50px;

    .card-body {
      background-color: #213D5B;
      color: white;
      font-size: 10px;
      border: none;
      box-shadow: 0px 10px 30px ;      
      height: 150px;
  
      .card-title {
        color: #fff;
        font-family: Roboto;
        letter-spacing: .2pt;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  
    .card-footer {
      border-radius: 0px 0px 20px 20px !important;
      background-color: #213D5B;
      span {
        font-family: Roboto;
        float: right;
        font-size: 1.2rem;
        color: #f86a49;
      }
    }
  }
    .card-fotos { 
        margin:4px;    
        border-radius: 1px 1px 0px 0px !important;
        border: none !important;
        width: 180px;
        height: 200px;
    }

    
    