table {
    width: auto;
    height: auto;
  }  

    .block {
      display: block;
      width: 47%;
      margin-left: auto;
      margin-right: auto;  
      height: fit-content;
      border: none;
      background-color: #FB6A49;
      color: white;
      
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }

    .imgPrincipal {
      border-radius: 50%;
      display: block;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto; 
      opacity: 1.0; 
    }
    button {
      margin:4px;
      width: 100%;
      display: block;
    }
    label{

      font-weight: 500;
    }