.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.botao-principal {
  margin:1px;
  width: 100%;
  display: block;
  background-color: #FB6A49;
  color: white;
}