<!--<p>{{titulo}}</p>
<p>{{texto}}</p>-->
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close style="background-color: #1e88e5; color: white;">Fechar</button>
</mat-dialog-actions>
<h2 mat-dialog-title>COMO USAR</h2>
<mat-dialog-content class="termos_uso text-uppercase">
  <h3>Cadastro (Perfil)</h3>
  
  <p>1.1. O cadastro na KIte LX é necessário para anunciar, cadastrar equipamentos e ver contato dos
    anúncios. Seu cadastro pode ser realizado por dois caminhos: clicando em “ANUNCIE ” ou em
    “PERFIL/ENTAR” (canto superior direito);</p>
  <p>1.2. Preencha os campos corretamente sempre atento(a) as informações do site ou cadastre-se pelo login
    social do Google (GOOGLE +);</p>
  <p>1.3. Terminando o cadastro e logado a Kite LX, vá em “PERFIL” para completar seu cadastro com fotos e
    informações uteis para cada vez mais melhorarmos a Kite LX para o usuário;</p>
  <p>1.4 O contato que aparecerá nos anúncios será o que está cadastrado em seu PERFIL.</p>  
  
  <h3>O Anúncio</h3>
  <p>2.1 Clique no botão anunciar (colocado em diversos lugares do site) ou dentro de seu “PERFIL/MEUS
    ANÚNCIOS/ANUNCIAR. Selecione sua localização, categoria correta do produto e preencha os campos
    com as informações necessárias. Adicione até 5 fotos sobre o produto, e dê detalhes (quanto mais,
    melhor). Para que as fotos fiquem melhor enquadradas siga as dimensões básicas fornecidas pela
    KITE LX ;</p>
  <p>2.2 O produto passará por uma análise, onde serão analisados itens básicos como se todas informações
    e categorias estão corretas, ficando a Kite LX com autonomia a redirecionar categorias ou excluir
    anúncios que fogem dos Termos de Uso;</p>
  <p>2.3 Com o anúncio validado (até 24h), uma mensagem será enviada para seu email, confirmando que
    seu anúncio está no ar para outros usuários verem;</p>
  <p>2.4 Seus anúncios ficarão armazenados em PERFIL/MEUS ANUNCIOS;</p>
  <p>2.5 Para editar ou excluir um anuncio vá em PERFIL/MEUS ANÚNCIOS , clique no anuncio que deseja
    excluir, o card abrirá e ao final terão as 2 opções (Editar ou Excluir).</p>
  
  <h3><fa-icon [icon]="iconeMoney" slot="start" style="font-size: 1.5rem;"></fa-icon> Orientações para anunciar na KITE LX</h3>
  
  <p>Para publicar anúncios relevantes sugerimos algumas orientações:</p>    
    
  <h3><fa-icon [icon]="iconeHending" slot="start" style="font-size: 1.5rem;"></fa-icon> Preenchimento dos campos</h3>
  <p>Preencha atentamente todos os campos obrigatórios (Localização, categoria, marca, modelo, ano, tamanho e valor;</p>
  <p>Caso não ache a marca ou modelo de seu equipamento selecione a opção “OUTROS” e escreve a
    marca ou modelo que incluiremos em nosso banco de dados;</p>
  <p>Não utilize palavras não relevantes ao produto.</p>  

  <h3><fa-icon [icon]="iconeAlign" slot="start" style="font-size: 1.5rem;"></fa-icon> Descrição do Anúncio</h3>
  <p>Tente detalhar ao máximo o produto, se é novo, usado, se tem reparos e seus benefício. A descrição é a
    alma do anúncio;</p>
  <p>Não são permitidas palavras de busca, links, e-mails e sites de concorrentes;</p>
  <p>Não é permitido copiar a descrição de outros anunciantes;</p>
  <p>Não publique anúncios com descrição utilizando poucas palavras e/ou palavras não relevantes ao
    produto;</p>
  <p>Lembrando que a Kite LX pode a qualquer momento excluir anúncios ou usuários que utilizem o Portal
    com palavras ofensivas, conforma os Termos de Uso.</p>    

  <h3><fa-icon [icon]="iconeImage" slot="start" style="font-size: 1.5rem;"></fa-icon> Imagens</h3>
  <p>Limite de 5 fotos por anúncio;</p>
  <p>Imagens com logomarca, sites concorrentes ou irrelevantes ao produtos serão excluídas conforme
    orientação nos Termos de Uso;</p>
  <p>Recomendamos que insira imagens de qualidade e com um tamanho médio para melhor visualização;</p>
  <p>Recomendamos que as fotos de produto sejam feitas em formato quadrado com o produto centralizado.</p>

  <h3><fa-icon [icon]="iconeHandHolding" slot="start" style="font-size: 1.5rem;"></fa-icon> Preços</h3>
  <p>Informe sempre o valor total do item no campo preço, não é possível anunciar sem valores.</p>

  <h3><fa-icon [icon]="iconeSareAlt" slot="start" style="font-size: 1.5rem;"></fa-icon> Categorias</h3>
  <p>O anúncio deve ser inserido na categoria que melhor descreve o produto; Tento a Kite LX autonomia para
    melhor enquadrar o produto anunciado (Termos de Uso).</p>

  <h3><fa-icon [icon]="iconeCopy" slot="start" style="font-size: 1.5rem;"></fa-icon> Anúncios duplicados</h3>
  <p>Não é permitido publicar mais de um anúncio do mesmo produto.</p>

  <h3><fa-icon [icon]="iconeThumbsDown" slot="start" style="font-size: 1.5rem;"></fa-icon> Conteúdo Ofensivo</h3>
  <p>Não é permitido anúncio ou imagens que possam ser percebidas como ofensivas a indivíduos, grupos
    étnicos, religiosos, figuras públicas, etc;</p>
  <p>Produtos pirateados, réplicas, contrabandeados ou falsificados;</p>
  <p>Não é permitido anunciar nenhum produto roubado ou furtado;</p>
  <p>Todos os produtos devem ter procedencia.</p>
  
  <h3><fa-icon [icon]="iconeListUl" slot="start" style="font-size: 1.5rem;"></fa-icon> Número de Anúncios</h3>
  <p>Não há limites para a quantidade de anúncios publicados por anunciante, porém ressaltamos que não é
    permitida a duplicação de anúncios.</p>

  <h3><fa-icon [icon]="iconeExclametion" slot="start" style="font-size: 1.5rem;"></fa-icon> Lembre-se</h3>
  <p>Você só pode publicar um anúncio para cada produto;</p>
  <p>Os anúncios devem oferecer produtos relacionados ao kitesurf. A Kite LX não aceita anúncios de
    propaganda;</p>
  <p>Anúncios que não estão de acordo com as orientações e diretrizes da Kite LX, serão excluídos.</p>
  <p>Se você não tem certeza se o seu anúncio está de acordo com as nossas Políticas, entre com contato
    com nossa equipe de atendimento através do email: <a href="comercial@kitelx.com.br">comercial@kitelx.com.br</a></p>

</mat-dialog-content>

