    <!--Tabela dinâmica para manipulação dos ítens de compra -->
    
      <div  class="container" > 
        <div class="row justify-content-md-center" >          
          <div class="col-md-auto " *ngFor="let anuncio of anuncios;">
            <anuncio-item [anuncio]='anuncio' ></anuncio-item>
            <p></p>
          </div>
        </div>             
      </div>       
    
    <mat-panel-description>
        <mat-paginator [length]="pager?.totalElements" (page)="paginar($event)" [pageSize]="pager?.size" #paginador>
        </mat-paginator>
    </mat-panel-description>