::ng-deep {
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


  @media (max-width: 560px){


      .fundo-mobile{
        display: none;
        background-image: url('../../assets/images/banners/banner_1.jpg');
        height: 20px;      
      }

      #destaque-anuncio{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 1rem;
      }

      .SearchBar {
        width: 70%;
        padding: 0;      
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 0px;
        margin-top: 8px ;
        margin-right: 20px;
        -webkit-transition: width .2s;
        transition: width .2s;
      }

      .search {
        background-image: url('../../assets/images/banners/banner_1.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        
        height: 250px;      
        position: relative;
      }
  }

  @media (min-width: 561px){

    .fundo-mobile{
      display: none;
    }

    #destaque-anuncio{
      margin-top: 105px;
      margin-bottom: 100px;
    }

    .search {
      background-image: url('../../assets/images/banners/banner_1.jpg');
      background-repeat: no-repeat;
      background-position: 50% 32%;
      background-size: 100%;
      height: 300px;
    }

    .SearchBar {
      width: 70%;    
      
      
      padding: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 8px;
      margin-top: 8px;
      margin-right: 20px;
      -webkit-transition: width .2s;
      transition: width .2s;
    }
  }

  .box-search {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    //box-shadow: 0px 10px 15px rgb(107 107 107 / 15%);
    width: 100%;
    margin-top: 190px;
    height: 120px;
  }

  html .page-wrapper .page-content {
    padding: 0px;
  }

  .form-control {
    &:focus {
      box-shadow: none !important;
      border: none !important;
    }
  }

  .form-control-borderless {
    border: none;
  }

  .form-control-borderless:hover,
  .form-control-borderless:active,
  .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
    border: none;
  }

  .form-control-lg {
    border: none !important;
  }

  .color-icone {
    color: #f86a49 !important;
  }

  .titulo {
    color: #fff;
    font-size: 24px;
    margin-left: 4px;
    margin-bottom: 4px;    
  }

  .p-0 {
    padding: 0px;
  }

  .NavBar .NavBar--content {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    // color: #4d4c59;
  }

  .NavBar__searchbar {
    // display: -webkit-box;
    display: -webkit-flex;
    //display: -ms-flexbox;
    display: flex;
  }

  .SearchBar__inputcontainer {
    position: relative;
    z-index: 11;
    margin-bottom: 0;
  }

  .SearchBar__input {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-image: url('https://www.webmotors.com.br/assets/img/icon/search.svg?t=2872');
    background-position: left 9px center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #ecedf2;
    border-radius: 8px;
    z-index: 4;
    position: relative;
    height: 47px;
    padding-left: 40px;
    padding-right: 0;
    -webkit-transition: 0s;
    transition: 0s;
    font-size: 14px;
  }

  .Button {
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: .04em;
    color: #fff !important;
    border-radius: 8px;
    padding: 0 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    border: 0;
    width: 100%;
    height: 56px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: all 0.5s;

    
  }
  
  .Button span {
    cursor: pointer;
    display: inline-block;
    position: relative;      
    transition: 0.5s;
  }

  .Button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .Button:hover span {
    padding-right: 25px;
    color: white;
  }

  .Button:hover span:after {
    opacity: 1;
    right: 0;
  }



  .Button--orange-home {
    background-color: #f86a49;
    -webkit-box-shadow: 0 8px 12px -8px #f86a49;
    box-shadow: 0 8px 12px -8px #f86a49;
    border-radius: 8px;
    width: 30%;
    height: 47px;
  }

    
  .img-blogDoKite {
    width: 30vw;
    display: block;
    float: none;
    margin: 0 auto;
  }

  .blogDoKite {
    background-image: url('../../assets/images/bg-areia.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
  }

  .box-blog {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(107, 107, 107, 0.15);
  }

  .img-box {
    background-image: url(https://abk.com.br/wp-content/uploads/2020/02/20190928_LucaPiana_-45.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    filter: brightness(50%);
  }

  .titulo-box-blog {
    position: absolute;
    bottom: 50%;
    padding: .5rem;
    h2 {
      color: #fff;
      font-size: 1.5rem;
      font-family: sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }
  }    
}

@media only screen and (min-width: 600px) {
  .anuncio{
    max-width: 1400px;
  }
  .sport-destaque{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 560px){
  #destaque-anuncio {
      margin-left: 0px;
      margin-right: 15px;
  }
  .destaque{
    display: block;
    max-width: 90%;
    margin-left: 0px;
    margin-right: 50px;
  }
}
@media (max-width: 561px){
  .box-search {
    margin-top: 24%;

  }
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f86a49;
}
.nav-tabs .nav-link {
  color: #6c757d;
}

/* #destaque-anuncio {
  width: 90%;
} */

#destaque-anuncio .destaque-anuncio__titulo {
  background-color: rgb(248, 106, 73);
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 7px;
}

#destaque-anuncio .destaque-anuncio__titulo h2 {
  margin-bottom: 0;
}

