* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    font-size: 0.9rem;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }



  .card-img-top {
    margin-top:1rem;
    padding: 0.5rem;
    max-width: 50%;
    max-height: 520px;
    //border-radius: 20px 20px 20px 20px !important;
    border: none !important;

  }

  .search {
    //background-image: url('../../assets/images/background/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 300px;
  }

  .box-search {
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 10px;
    //box-shadow: 0px 10px 15px rgb(107 107 107 / 15%);
    width: 100%;
    margin-top: 20%;
  }



  .card-body {
    background-color: #213D5B;
    color: #fff;
    border: none;
    font-family: serif;
  //  box-shadow: 0px 10px 30px rgb(107 107 107 / 15%);
    .card-title {
      color: #fff;
      font-family: "Nunito Sans", Arial, Helvetica;
      letter-spacing: .5pt;
      font-size: 2.2rem;
      text-transform: uppercase;
    }
  }

 .csYflq {
    display: block;
}


.slider {
  max-width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  margin-left: 0.3rem;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #f86a49;

  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  //width: 1373px;
  height: 100%;
  margin-right: 5px;
  border-radius: 10px;
  background: #f86a49;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 100px;
}

.img-fluid{

  width: 300px;
  height: 300px;
  border-radius: 1px!important;
  transition: width 2s, height 2s;
  filter: brightness(90%)!important;
}
.img{
  filter: brightness(100%);
}

h2{
  font-weight: 400;
  color: white;
  text-align: center;
  background-color: #f86a49;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0.83em;
  margin-inline-end: 0.83em;
}


/* @media (min-width: 561px){
  .img-fluid:hover {
    width: 800px;
    height: 500px;
  }
} */
