<p>Validação de Token</p>


<div class="row justify-content-md-center" >   
    <div class="container-fluid shadow-sm p-3 mb-5 bg-white rounded">
          <div class="p-d-flex p-mb-3">              
            
              <div>
                  <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton height=".5rem"></p-skeleton>
                  <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton height=".5rem"></p-skeleton>
                  <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton height=".5rem"></p-skeleton>
                  <p-skeleton height=".5rem"></p-skeleton>
                  <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton height=".5rem"></p-skeleton>
                  <p-skeleton height=".5rem"></p-skeleton>
                  <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton height=".5rem"></p-skeleton>
                  <p-skeleton height=".5rem"></p-skeleton>
                  <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton height=".5rem"></p-skeleton>
              </div>
          </div>
          <p-skeleton width="100%" height="150px"></p-skeleton>
    </div>
  </div>


  <mat-error *ngIf="msgErro!=''">
    {{msgErro}}
  </mat-error>